@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
* {
  /* Remove todas as margens externas dos elementos */
  margin: 0;

  /* Remove todos os espaçamentos internos dos elementos */
  padding: 0;

  /* Altera o cálculo de largura/altura para incluir
  padding e borda dentro do tamanho total do elemento.
  Isso evita que o elemento "cresça" além da largura definida. */
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}