.main {
  width: 100%;
  height: calc(100vh - 80px); /*descontando 80px do header*/
  background-color: #000000;
  background-image: url("../img/programador.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.main h1 {
  color: #dddddd;
  font-size: 40px;
  padding: 10px 0 0 0;
  font-weight: 900;
  box-shadow: inset 0 10px 1 #181818;
}

.main p {
  color: #1e96fc;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 32px;
  font-weight: 600;
}

.main {
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.botao {
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  padding: 14px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
}

.main a {
  text-decoration: none;
  color: #181818;
}

.botao:hover{
  background-color: #dddddd;
}
